%table.table.table-striped
  %tbody
    - movies.each do |movie|
      %tr
        %td= movie.id
        %td
          %img.img-rounded{ src: movie.poster, height: '100', widt: '150' }
        %td
          %h4
            = link_to movie.title, movie_path(movie)
          %p
            %span.glyphicon.glyphicon-star
            %strong
              = movie.rating
            %strong
              = link_to movie.genre.name, movies_genre_path(movie.genre)
            = ' (' + movie.released_at.year.to_s + ')'
          %p= movie.plot
