.container
  .row
    .col-md-4
      %img.img-rounded{ src: @movie.poster, width: 300, height: 450 }
    .col-md-8
      %h1
        = @movie.title
      %h2
        %span.glyphicon.glyphicon-star
        = @movie.rating
      .jumbotron
        = @movie.plot
        %hr
        = @movie.description
      - if user_signed_in?
        %p= link_to 'Email me details about this movie', send_info_movie_path(@movie), class: 'btn btn-sm btn-default'
